*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

ol {
  list-style-type: none;
}

main {
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.month-container {
  width: 100%;
  max-width: 48rem;
  height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
  scroll-snap-align: start;
}

.month {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;

  .month-title {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;

    h2 {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      flex: 1;
    }

    button,
    a {
      width: 2rem;
      height: 2rem;
      color: white;
      background-color: black;
      transition: 0.2s background-color;
      border-radius: 0.25rem;
      border: none;

      &:hover {
        background-color: #000b;
      }
    }
  }

  ol {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2rem repeat(5, 1fr);

    .weekday {
      color: gray;
      align-self: center;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: bold;
    }

    li {
      text-align: center;
      justify-self: center;
    }

    .day span {
      display: grid;
      width: 2.5rem;
      height: 2.5rem;
      place-content: center;
    }

    .day.blank span {
      color: darkgray;
    }
    .day.today span {
      background-color: red;
      color: white;
    }
    .day.today.blank span {
      background-color: red;
      color: white;
      opacity: 0.6667;
    }
  }
}
